:root {
    --primary-color: white;
    --primary-font-color: white;
    --secondary-color: #0BA7FF;
    --secondary-font-color: #0BA7FF;
    --tertiary-color: rgba(1,1,1,0.05);
    --delete-button-color: red;
    --nav-font-color: black;
    --background-gradient: rgba(1,1,1,0.05);
    --border-color: rgba(0, 0, 0, 0.1);
    --border-hover-color: rgba(0, 0, 0, 0.5);
    --shadow-color: rgba(0, 0, 0, 0.25);
}

html,body {
    min-height: 100%;
    height: 100%;
    width: 100%;
    min-width: 360px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, -apple-system-font, "Segoe UI",
    "Roboto", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: var(--background-gradient);
    position: relative;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}

header {
    background-color: var(--primary-color);
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    flex:1;
}

footer {
    background-color: var(--secondary-color);
    bottom: 0;
    width: 100%;
    display: inline-flex;
    padding: 0.5rem;
    align-items: center;
    box-sizing: border-box;
}

.footer-item {
    margin: 0;
    padding: 0;
    margin-left: 1rem;
    color: var(--primary-font-color);
    font-size: 0.8em;
}

.footer-item svg{
    width: 1rem;
    transform: translateY(0.1rem);
    filter: invert();
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    text-decoration: none;
    color: var(--nav-font-color);
    margin: 0.8em 1.5em;
    padding: 0.2em 0.5em;
    font-weight: 450;
    border-bottom: transparent solid 0.1rem;
    transition: border-bottom 0.25s ease;
}

.nav-item:hover {
    border-bottom: var(--nav-font-color) solid 0.1rem;
}

.nav-item-current {
    border-bottom: var(--nav-font-color) solid 0.1rem;
}

.create-new {
    position: absolute;
    right: 1rem;
    top: 4.4rem;
    background: var(--secondary-color);
    border: none;
    border-radius: 0.3em;
    color: var(--primary-font-color);
    font-weight: 600;
    padding: 0 2em;
    box-shadow: 0 0.2em 0.2em var(--shadow-color);
    white-space: nowrap;
    cursor: pointer;
}

.create-new:hover, .form-button:hover {
    animation: push 1s ease;
}

.manage-text {
    color: var(--secondary-font-color);
    margin: 0.5em 0.5em;
    white-space: nowrap;
}

.div-projectlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
}

.div-project, .div-task-wrap {
    flex:1;
    background-color: var(--primary-color);
    min-width: 20em;
    max-width: 25em;
    height: 30rem;
    border-radius: 0.5em;
    box-shadow: 0 0.2em 0.2em var(--shadow-color);
    margin: 1em;
    position: relative;
    cursor: pointer;
}

.div-projectname, .div-task-status {
    background-color: var(--secondary-color);
    border-radius: 0.5em 0.5em 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-projectname {
    height: 40%;
}

.div-task-status {
    height: 15%;
}

.div-projectname h2, .div-task-status h2{
    color: var(--primary-font-color);
    margin: 1em;
    overflow-wrap: anywhere;
}

.project-edit-button {
    opacity: 0%;
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: none;
    background-color: var(--secondary-color);
    transition: opacity 0.25s ease;
    cursor: pointer;
}

.div-project:hover .project-edit-button {
    opacity: 100%;
}

.project-edit-button svg {
    filter: invert();
}

.project-edit-button:hover {
    animation: push 1s ease;
}

.div-projectdescription, .div-tasklist {
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar for Firefox */
}

.div-projectdescription {
    height: 60%;
    color: var(--secondary-font-color);
    margin: 1em;
    word-break: break-all;
}

.div-projectdescription::-webkit-scrollbar, .div-tasklist::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

.div-tasklist {
    height: 85%;
}

.task-item {
    background-color: var(--tertiary-color);
    display: flex;
    margin: 1rem 1rem 0 1rem;
    border-radius: 0.3rem;
    height: fit-content;
    box-shadow: 0 0.1em 0.1em var(--shadow-color);
}

.task-item:hover {
    animation: push 1s ease;
}

.task-content {
    width: 90%;
    margin: 1rem;
    cursor: grab;
}

.task-text {
    margin: 0;
    word-break: break-all;
}

.task-duedate {
    margin: 0;
    font-size: 0.7rem;
    margin-top: 0.5rem;
}

.task-edit-div {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    border-radius: 0 0.3rem 0.3rem 0;
    cursor: pointer;
}

.task-edit-div svg {
    filter: invert();
    stroke: black;
    stroke-width: 2;
}

.popup {
    background-color: var(--primary-color);
    width: 50vw;
    min-width: fit-content;
    height: fit-content;
    position: fixed;
    top: 20vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 0.3em;
    box-shadow: 0 0.2em 0.2em var(--shadow-color);
}

.popup-div-headline {
    background-color: var(--secondary-color);
    border-radius: 0.3rem 0.3rem 0 0;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
}

.popup-headline {
    color: var(--primary-font-color);
    margin: 0;
    padding: 0.5rem 3rem;
}

.popup-div-form {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-item, .form-button, .form-button-delete{
    border-radius: 0.2rem;
    box-shadow: 0 0.2em 0.2em var(--shadow-color);
    height: 2rem;
    margin: 0.5rem 0;
    font-size: 1em;
    font-family: inherit;
    cursor: pointer;
}

.form-item, #project-description {
    padding: 0.4rem;
    height: 2.5rem;
}

.form-item {
    width: 40vw;
    min-width: 15rem;
    border: var(--border-color) 0.1rem solid;
    transition: border 0.4s ease;
}

.form-item:hover {
    border: var(--border-hover-color) 0.1rem solid;
}

.form-item:focus {
    outline: none;
    border: var(--border-hover-color) 0.1rem solid;
}

#project-description {
    height: 15vh;
    resize: none;
}

.form-button, .form-button-delete {
    border: none;
    color: var(--primary-font-color);
    font-weight: 600;
    margin: 1em 0;
    padding: 1em 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.form-button {
    width: 30vw;
    min-width: 12rem;
    background-color: var(--secondary-color);
}

.form-button-delete {
    width: 10vw;
    height: 2rem;
    background-color: var(--delete-button-color);
    transform: translateY(0.3rem);
}

.form-button-delete:hover {
    animation: push-delete-button 1s ease;
}

.form-button-delete svg {
    filter: invert();
    transform: scale(0.9);
}

.input-label {
    font-size: 0.8em;
    float: left;
    transform: translateY(1.6em);
    margin-left: 1em;
    color: var(--secondary-font-color);
    font-weight: 600;
    z-index: 5;
    background-color: var(--primary-color);
    padding: 0 0.4em;
}

.form-duedate-check {
    float: left;
    cursor: pointer;
}

.form-duedate-check:checked {
    accent-color: var(--secondary-font-color);
}

.form-duedate-text {
    display: inline;
    font-size: 0.8rem;
    float: left;
    margin: 0;
    margin-left: 0.2rem;
}

/* Custom Scrollbar*/
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-color) var(--background-gradient);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
  }

  *::-webkit-scrollbar-track {
    background: var(--background-gradient);
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 10px;
  }

@media only screen and (max-width: 570px) {
    * {
        -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
        scrollbar-width: none;  /* Hide scrollbar for Firefox */
    }

    *::-webkit-scrollbar {
        display: none; /* Hide scrollbar for Chrome, Safari and Opera */
    }
    
    .manage-text {
        font-size: 1.7em;
    }
    .create-new {
        top: 8.5em;
        right: 0;
        left: 50%;
        transform: translateX(-50%);
        min-width: fit-content;
    }
    .create-new:hover {
        animation: push-create-button-mobile 1s ease;
    }
    .div-projectlist {
        margin-top: 3rem;
    }
}

@keyframes push {
    from {
        transform: scale(1);
    }
    50% {
        transform: scale(0.99);
    }
    to {
        transform: scale(1);
    }
}

@keyframes push-delete-button {
    from {
        transform: translateY(0.3rem);
    }
    50% {
        transform: translateY(0.3rem) scale(0.98);
    }
    to {
        transform: translateY(0.3rem);
    }
}

@keyframes push-create-button-mobile {
    from {
        transform: translateX(-50%);
    }
    50% {
        transform: translateX(-50%) scale(0.99);
    }
    to {
        transform: translateX(-50%);
    }
}