html,body {
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(1,1,1,0.05);
}

header {
    background-color: white;
}

footer {
    background-color: #0BA7FF;
}

nav {
    display: flex;

}

.nav-item {
    text-decoration: none;
    color: black;
    margin: 1rem;
}